<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/alma-bursar-converter/css/bootstrap.css">
    <link rel="stylesheet" href="/alma-bursar-converter/css/style.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="/alma-bursar-converter/assets/img/zhaw_logo.png" />
                    <a id="app-title" href="/" class="h1">
                        Alma Bursar Converter </a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-6 mx-auto">
                    <h1>
                        CSV transformieren </h1>
                    <p class="lead">
                        Abhängig von der Menge der Daten, kann der Vorgang bis zu 2 Minuten in Anspruch nehmen. Bitte
                        schliesse das Browserfenster nicht. </p>
                    <form action="" method="POST" enctype="multipart/form-data">
                        <label for="outputbuffering">
                            Herunterladen </label>
                        <input id="outputbuffering" type="checkbox" name="outputbuffering" />
                        <label for="fees">
                            Gebühren von <span class="is-red">*</span>
                        </label>
                        <select id="fees" name="fees" class="form-control" required>
                            <option value="all">
                                Alle </option>
                            <option value="E51">
                                HSB Winterthur
                            </option>
                            <option value="E57">
                                HSB Wädenswil
                            </option>
                            <option value="E97">
                                HSB Zürich
                            </option>
                        </select>
                        <label for="threshold">
                            Begrenzung <span class="is-red">*</span>
                        </label>
                        <select id="threshold" name="threshold" class="form-control" required>
                            <option value="1">
                                1
                            </option>
                            <option value="5">
                                5
                            </option>
                            <option value="10">
                                10
                            </option>
                            <option value="all">
                                Alle </option>
                        </select>
                        <label>
                            CSV Datei hochladen <span class="is-red">*</span>
                        </label>
                        <input id="csv-upload" type="file" name="files[]" filetype="csv" accept=".csv"
                            class="form-control" required />
                        <div class="text-end">
                            <button type="submit" name="load" class="btn btn-primary">
                                laden </button>
                        </div>
                    </form>
                </div>
                <div class="col-12">
                    <hr>
                    <p class="text-center">
                        <strong>
                            Keine offenen Gebühren gefunden. </strong>
                    </p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 text-start">
                    <div>
                        &copy; ZHAW HSB Winterthur </div>
                </div>
                <div class="col-12 col-lg-6 text-end">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <span>DE</span>
                        </li>
                        <li class="list-inline-item">
                            <a href="/?lang=en">
                                EN </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>