<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="icon" href="images/favicon.png" type="image/png">
</head>

<body>
    <h1>{{ title }}</h1>
    <h2>Datei Upload</h2>
    <p>Bitte wähle die Bibliothek und eine PDF-Datei für den Upload aus</p>
    <form title="pdf upload" method="POST" action="result" enctype="multipart/form-data">
        <input id="winterthur" name="library" type="radio" value="winterthur" />
        <label for="winterthur">Winterthur</label><br />
        <input id="waedenswil" name="library" type="radio" value="waedenswil" />
        <label for="waedenswil">Wädenswil</label><br />
        <input id="zuerich" name="library" type="radio" value="zuerich" />
        <label for="zuerich">Zürich</label><br /><br />
        <input accept="pdf" id="file" name="file" title="file" type="file" required />
        <label for="file"></label><br /><br />
        <button type="submit">absenden</button>
    </form>
</body>

</html>