<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inhaltsverzeichnis</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12">

                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-6 mx-auto">
                    <h1>Inhaltsverzeichnis hochladen</h1>
                    <p class="lead">
                        Bibliothek und eine PDF-Datei für den Upload auswählen
                    </p>
                    <form title="pdf upload" method="POST" action="result" enctype="multipart/form-data">
                        <input id="winterthur" name="library" type="radio" value="win" />
                        <label for="winterthur" title="Winterthur">Winterthur</label>
                        <input id="waedenswil" name="library" type="radio" value="wae" />
                        <label for="waedenswil" title="Wädenswil">Wädenswil</label>
                        <input id="zuerich" name="library" type="radio" value="zue" />
                        <label for="zuerich" title="Zürich">Zürich</label>
                        <input accept="pdf" id="file" name="file" title="durchsuchen" type="file" required />
                        <label for="file"></label>
                        <button title="hochladen" type="submit">hochladen</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 text-start">
                    <div>© ZHAW HSB Winterthur</div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>