<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
</head>

<body>
    <h1>{{ title }}</h1>
    <h2>Datei Upload</h2>
    <p>Bibliothek und eine PDF-Datei für den Upload auswählen</p>
    <form title="pdf upload" method="POST" action="result" enctype="multipart/form-data">
        <input id="winterthur" name="library" type="radio" value="win" />
        <label for="winterthur" title="Winterthur">Winterthur</label><br />
        <input id="waedenswil" name="library" type="radio" value="wae" />
        <label for="waedenswil" title="Wädenswil">Wädenswil</label><br />
        <input id="zuerich" name="library" type="radio" value="zue" />
        <label for="zuerich" title="Zürich">Zürich</label><br /><br />
        <input accept="pdf" id="file" name="file" title="durchsuchen" type="file" required />
        <label for="file"></label><br /><br />
        <button title="hochladen" type="submit">hochladen</button>
    </form>
</body>

</html>